*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #000;
    padding: 20px 30px ;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 200px;
}

.container input {
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-size: 18px;
    margin: 10px;
    outline: none;
}

.container p {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffff;
}

.container button {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    color: #ffff;
}
